body {
  margin: 0;
}

.coming-soon {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("img/plutonesscomingsoonlogo.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  background-size: 20%;
}