html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  padding: 50px;
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 14px;
}

ul {
  /*font-weight: bold;*/
  list-style-type: none;
  padding: 0;
  transition: max-height 0.2s ease-out;
  max-height: 0;
  overflow: hidden;
  margin: 0 0 0 10px;
}
ul.open {
  max-height: initial;
  margin-top: 0;
}
ul > li:last-child {
  padding-bottom: 20px;
}

.grid .grid-item {
  width: 50%;
}
.grid .grid-item img {
  width: 100%;
}

img {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover,
a.active {
  color: #666;
}

.wrapper {
  position: relative;
}

.sidebar {
  width: 350px;
  flex-shrink: 0;
}
.sidebar a {
  display: block;
  color: #000;
}
.sidebar a:hover,
.sidebar a.active {
  color: #00dabc;
}
.sidebar.white,
.sidebar.white a {
  color: #fff;
}
.sidebar.white a:hover,
.sidebar.white a.active {
  color: #ffbba0;
}

.category {
  cursor: pointer;
  font-weight: bold;
}
ul + .category.active {
  padding-top: 20px;
}

.italics {
  font-style: italic;
  font-weight: normal;
  cursor: default;
}
.about {
  color: #fff;
}

.bottom-center {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.side-center {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateX(-50%);
}
.center-center {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.center-center a {
  color:#00BDDA;
}

.logo {
  margin-bottom: 20px;
}
.logo img {
  display: block;
  height: 110px;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility 0s .3s;
}
.modal.active {
  visibility: visible;
  opacity: 1;
  transition: opacity .3s;
}
.modal-trigger {
  cursor: pointer;
}

.menu-dropdown-trigger {
  cursor: pointer;
}
.menu-dropdown-trigger .first,
.menu-dropdown-trigger .second {
  transition: opacity .3s;
}
.menu-dropdown-trigger .second {
  position: absolute;
  left: 0;
  opacity: 0;
}
.menu-dropdown-trigger:hover .first {
  opacity: 0;
}
.menu-dropdown-trigger:hover .second {
  opacity: 1;
}
.menu-dropdown-trigger img {
  width: 110px;
  display: inline-block;
}
.menu-dropdown {
  visibility: hidden;
  transition: max-height 0.3s ease-out, visibility 0s 0.3s ease-out;
  max-height: 0;
  overflow: hidden;
  position: absolute;
}
.menu-dropdown.active {
  visibility: visible;
  transition: max-height 0.3s ease-out;
}
.menu-dropdown-wrapper {
  background-color: #f0d4f0;
  padding: 20px;
}

.dropdown {
  opacity: 0;
  /*transform: translateX(100%);*/
  padding: 0;
  margin: 0;
  transition: transform .3s, opacity .3s;
}

.logo-wrapper-index {
  position: relative;
  height: 100%;
  padding-right: 210px;
}
.logo-wrapper-index:hover .dropdown {
  /*transform: translateX(0);*/
  opacity: 1;
  padding-right: 210px;
}
.logo-wrapper {
  position: relative;
  height: 100%;
  padding-right: 50px;
}
.logo-wrapper:hover .dropdown {
  /*transform: translateX(0);*/
  opacity: 1;
}
.logo-wrapper > a {
  color: #000;
  font-weight: bold;
}
.logo-wrapper > a.active,
.logo-wrapper > a:hover,
.logo-wrapper > .category:hover {
  color: #00BDDA;
}
.logo-wrapper > ul > li:first-child {
  padding-top: 20px;
  padding-bottom: 0;
}

.dropdown li {
  display: block;
  width: 100%;
  padding: 10px;
  list-style: none;
  border: 1px solid #000;
  text-align: center;
  box-sizing: border-box;
}

.floating-image-1 {
  position: absolute;
  top: 50px;
  left: 200px;
}

.credits {
  z-index: 2;
  color: #000;
  background-color: #fff;
  font-size: 8px;
}
.credits.top-right {
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
}

.content {
  width: 100%;
  min-height: 100%;
}


.paintings {
  position: relative;
  padding-bottom: 70.67%;
}
.painting {
  width: 150px;
}
.painting img {
  max-width: 100%;
  max-height: 100%;
}
.painting.p-1 {
  position: absolute;
  top: 27.07%;
  left: 9%;
  width: 24%;
}
.painting.p-2 {
  position: absolute;
  top: 16.57%;
  left: 33.75%;
  width: auto;
  height: 41.74%;
}
.painting.p-3 {
  position: absolute;
  top: 0;
  left: 57.83%;
  width: auto;
  height: 33.6%;
}
.painting.p-4 {
  position: absolute;
  top: 34.5%;
  left: 56.83%;
  width: 23.58%;
}
.painting.p-5 {
  position: absolute;
  top: 53.49%;
  left: 10.92%;
  width: auto;
  height: 36.91%;
}
.painting.p-6 {
  position: absolute;
  top: 61.86%;
  left: 33.75%;
  width: 19.17%;
}
.painting.p-7 {
  position: absolute;
  top: 60.8%;
  left: 53.92%;
  width: 29.17%;
}
.painting.active {
  position: fixed;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  height: 80%;
  width: auto;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.painting-overlay {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: -1;
}
.painting-overlay.active {
  background-color: rgba(0,0,0,.4);
  z-index: 99;
}

/* Carousel */
.carousel {
  position: relative;
  height: 100%;
}
.carousel-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0;
  transition: opacity .3s;
}
.carousel-item.active {
  opacity: 1;
  z-index: 1;
}
.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.carousel-item .hover {
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity .3s;
}
.carousel-item .hover:hover {
  opacity: 0;
}
.carousel-actions {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  padding: 0 15px;
  background-color: #fff;
  z-index: 2;
}
.carousel-actions .slash {
  display: inline-block;
  font-size: 24px;
}
.text-box {
  box-sizing: border-box;
  z-index: 2;
  line-height: 8px;
  font-size: 8px;
  background-color: #fff;
}
.text-box a {
  color: #6038ff;
  display: inline-block;
}
.text-box.second,
.text-box.first.inactive {
  display: none;
}
.text-box.first.inactive ~ .text-box.second {
  display: block;
}
.carousel-item .button {
  position: absolute;
  color: #fff;
  background-color: #000;
  padding: 15px;
  bottom: 0;
  left: 0;
}
.hover-wrapper {
  height: 100%;
  width: 100%;
}
.hover-wrapper .hover {
  left: 50%;
  transform: translateX(-50%);
}
.hover-wrapper.first {
  cursor: pointer;
  position: relative;
  z-index: 3
}
.hover-wrapper.first.inactive {
  z-index: 1;
}
.hover-wrapper.second {
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 2;
}
.hover-wrapper.second iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}
.hover-wrapper.second.active iframe {
  opacity: 1;
  z-index: 1;
}


/* Album */
.player {
  position: absolute;
  right: 50px;
}
.album-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.album-tape,
.album-insert,
.album-record {
  transition: opacity .3s, transform .3s, z-index 0s .3s;
  z-index: 1;
}
.album-tape.active,
.album-insert.active,
.album-record.active {
  transition: opacity .3s, transform .3s;
  z-index: 2;
}
.album-tape,
.album-insert,
.album-record {
  position: relative;
  perspective: 1000px;
  width: 300px;
  height: 300px;
}
.album-tape img,
.album-insert img,
.album-record img {
  width: 100%;
}
.album-tape .front,
.album-tape .back,
.album-tape .inside-front,
.album-tape .inside-back {
  position: absolute;
  top: 0;
  transition: transform .3s, opacity .3s;
}
.album-tape .back,
.album-tape .inside-front,
.album-tape .inside-back {
  opacity: 0;
}
.album-tape .back,
.album-tape .inside-back {
  transform: rotateY(-180deg);
  z-index: -1;
}
.album-tape.stage-1 .front {
  opacity: 1;
}
.album-tape.stage-1 .front {
  transform: translateX(-50%);
}
.album-tape.stage-1 .back {
  transform: translateX(-50%) rotateY(-180deg);
}

.album-tape.stage-1 .inside-front {
  opacity: 1;
  transform: translateX(50%);
}
.album-tape.stage-1 .inside-back {
  transform: translateX(50%) rotateY(-180deg);
}

.album-tape.stage-1 .front.active {
  opacity: 0;
  transform: translateX(-50%) rotateY(180deg);
}
.album-tape.stage-1 .inside-front.active {
  opacity: 0;
  transform: translateX(50%) rotateY(180deg);
}
.album-tape.stage-1 .back.active {
  opacity: 1;
  transform: translateX(-50%);
}
.album-tape.stage-1 .inside-back.active {
  opacity: 1;
  transform: translateX(50%);
}

.album-insert .front,
.album-insert .back,
.album-insert .inside-top,
.album-insert .inside-bottom {
  position: absolute;
  top: 0;
  transition: transform .5s, opacity .5s;
}
.album-insert .back,
.album-insert .inside-top,
.album-insert .inside-bottom {
  opacity: 0;
}
.album-insert .wrapper {
  transform: translateY(-8%);
  width: inherit;
  height: inherit;
  transition: transform .5s;
}
.album-insert.stage-1 .wrapper,
.album-insert.stage-3 .wrapper {
  transform: scale(.5) translateY(-50%);
}
.album-insert.stage-2 .wrapper {
  transform: translateY(-93%);
}
.album-insert .front {
  transition: none;
  transform-origin: bottom;
  z-index: 1;
}
.album-insert .front.inactive {
  opacity: 0;
  transform: rotateX(180deg);
  transition: transform .5s, opacity 0s .5s;
  z-index: -1;
}
.album-insert.stage-4 .front.inactive {
  transform: rotateX(360deg);
  transition: transform .5s, z-index 0s .1s;
  z-index: 1;
  opacity: 1;
}
.album-insert .back {
  z-index: -1;
  transform-origin: bottom;
  transition: none;
}
.album-insert .back.active {
  z-index: 1;
  opacity: 1;
  transform: rotateX(180deg);
  transition: transform .5s, opacity .5s, z-index 0s .5s;
}
.album-insert.stage-2 .back.active, {
  transform: rotateX(180deg);
}
.album-insert.stage-3 .back.active {
  opacity: 0;
  transform: none;
  transition: transform .5s, opacity 0s .5s, z-index 0s .5s;
}
.album-insert.stage-4 .back.active {
  opacity: 0;
}
.album-insert .back img {
  transform: rotateX(180deg);
}
.album-insert .inside-top {
  opacity: 0;
  transform-origin: bottom;
  transform: rotateX(-180deg);
  z-index: -1;
  transition: none;
}
.album-insert.stage-3 .inside-top.active,
.album-insert.stage-4 .inside-top.active {
  transform: none;
  transition: transform .5s, opacity .5s, z-index 0s .1s;
  opacity: 1;
}
.album-insert.stage-3 .inside-top.active {
  z-index: 1;
}
.album-insert.stage-4 .inside-top.active {
  transition: none;
  z-index: -1;
}
.album-insert .inside-bottom {
  opacity: 0;
  transform: translateY(100%);
  transition: transform .5s;
  z-index: -1;
}
.album-insert.stage-3 .inside-bottom {
  opacity: 1;
}
.album-insert.stage-4 .inside-bottom {
  transform: translateY(100%) rotateX(180deg);
  transform-origin: top;
}
.album-record .front,
.album-record .back,
.album-record .inside-front,
.album-record .inside-back {
  position: absolute;
  top: 0;
  transition: transform .3s, opacity .3s;
}
.album-record .back,
.album-record .inside-front,
.album-record .inside-back {
  opacity: 0;
}
.album-record .back,
.album-record .inside-back {
  transform: rotateY(-180deg);
  z-index: -1;
}

.album-record.stage-1 .front {
  opacity: 1;
}
.album-record.stage-1 .front {
  transform: translateX(-50%);
}
.album-record.stage-1 .back {
  transform: translateX(-50%) rotateY(-180deg);
}

.album-record.stage-1 .inside-front {
  opacity: 1;
  transform: translateX(50%);
}
.album-record.stage-1 .inside-back {
  transform: translateX(50%) rotateY(-180deg);
}

.album-record.stage-1 .front.active {
  opacity: 0;
  transform: translateX(-50%) rotateY(180deg);
}
.album-record.stage-1 .inside-front.active {
  opacity: 0;
  transform: translateX(50%) rotateY(180deg);
}
.album-record.stage-1 .back.active {
  opacity: 1;
  transform: translateX(-50%);
}
.album-record.stage-1 .inside-back.active {
  opacity: 1;
  transform: translateX(50%);
}


.album-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color .3s, z-index 0s .3s;
  background-color: rgba(255,255,255,0);
  z-index: -1;
}
.album-backdrop.active {
  transition: background-color .3s;
  background-color: rgba(255,255,255,.2);
  z-index: 1;
}
.background-gifs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background-gifs .img-1 {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 24%;
}
.background-gifs .img-2 {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 20%;
}
.background-gifs .img-4 {
  position: absolute;
  top: 60%;
  right: 10%;
  width: 20%;
}

.music-video {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 100px;
}
.title {
  font-size: 24px;
  margin-bottom: 20px;
}
.music-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.coming-soon {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("img/plutonesscomingsoonlogo.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  background-size: 20%;
}

@media screen and (max-width: 1330px) {
  .album-tape,
  .album-insert,
  .album-record {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .coming-soon {
    background-size: 40%;
  }
}